<div fxFlex fxLayout="column">
  <div class="toolbar" fxLayoutGap="10px" fxLayout="row">
    <h1><a routerLink="/">Hacker News</a></h1>
    <div class="navigation">
      <a routerLink="/news">News</a>
      <a routerLink="/comments">Comments</a>
      <a routerLink="/show">Show</a>
      <a routerLink="/ask">Ask</a>
      <a routerLink="/jobs">Jobs</a>
    </div>
    <div fxFlex></div>
    <div class="side-buttons">
      <div (click)="refresh()"><i class="fas fa-sync"></i></div>
    </div>
  </div>
  <div class="loading-bar-wrap">
    <app-loading-bar *ngIf="isLoading"></app-loading-bar>
  </div>
</div>
