.username {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.submitted {
  &-title {
    font-size: 1.15rem;
    margin: 0.75em 0;
  }
}

.comment {
  .content {
  }
}

.fas {
  color: black;
}

.icon-anim {
  transition: transform 0.2s ease-in-out;
}
.show-list {
  transform: rotate(180deg);
}

.anim-list-item {
  display: none;
}
